<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/png" href="https://static.prd.eu.daedalus.fih.io/findhotel_favicon.png"/>
    <title>Find Hotel Code Challenge Application</title>
  </head>
  <body>
    <div id="root"></div>
    <div id="modal"></div>
  </body>
</html>